/*ALDI Report CSS*/
/* Basic Setup */
@page {
  size: letter;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');

/*@font-face {
  font-family: "Open Sans";
  src: url("C:\reports\fonts\"Open Sans"-Regular.ttf")
  }

@font-face {
  font-family: mons-sb;
  src: url("C:\reports\fonts\Montserrat-SemiBold.ttf")
}

@font-face {
  font-family: "Montserrat";
  src: url("C:\reports\fonts\Montserrat-Medium.ttf")
}*/

body {
  font-family: "Open Sans";
  font-size: 11pt;
}
h1 {
  margin-top: 0em;
  margin-bottom: 0em;
  font-family: "Montserrat";
  color: rgb(0,73,123);
  font-size: 18pt;
  font-weight: 500;
}
h2 {
	margin-top: 0em;
	margin-bottom: 0px;
	color: rgb(25,136,186);
	font-family: "Open Sans";
	font-size: 12pt;
}
h3 {
  color: rgb(0,73,123);
  font-size: 14pt;
  margin-top: .5em;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: .5em;
}
ol {
  margin-left: -1em;
}
ul {
  margin-left: -1em;
}

/*keep this to resolve random wkhtmltopdf whitespace error*/
tr {
  page-break-inside: avoid;
  page-break-before: avoid;
  page-break-after: avoid;
}

/* Global use */
.break {
  page-break-before: always;
}
.txt-light-blue {
  color: rgb(25,134,182);
}
.bg-light-blue {
  background-color: rgb(228,233,239);
}
.bg-light-green {
  background-color: rgb(235,245,235);
  padding:.5em; 
  font-weight: bolder;
  color: rgb(4,119,53);
  border-top: 10px solid white;
}
.toc-ignore {
  display: none;
}
.txt-larger-blue {
  color:rgb(25,135,186);
  font-weight:bold;
}
.h1-clone {
  font-family: "Montserrat";
  color: rgb(0,73,123);
  font-size: 18pt;
}


/* Header */
#page-logo {
  width: 2in;
}
#header-container {
  height: 1.5in !important;
  margin-bottom: .5em;
}
#header-table {
  width: 100%;
  border-collapse: collapse;
  color: rgb(0,73,123);
}
.colorbar {
  width: 100%;
}

/*-----INDEX PAGE-----*/
#index-logo-large {
  width: 6.5in;
  height: auto;
}
#index-aspen-logo {
  width: 2in;
  height: auto;
  vertical-align: middle;
  margin-left: 1em;
}

/* ------CAPACITIES PAGE------ */
#overview-top-box {
  margin-top: -.75in;
}
#overview-top-left {
  width: 2.25in;
  float: left;
}
#index-circle {
  width: 6.25in;
  float: right;
}
#overview-bttm-box {
  width: 100%;
}
#your-index-table {
}
#your-index-table tr:not(:first-child) td {
  width: 30%;
  height: 1.5in;
  vertical-align: top;
}
#your-index-table td:nth-child(2) {
  border-left: 5px solid white;
  border-right: 5px solid white;
}
.y-index-header {
  width: 95%;
  color: white;
  font-weight: bold;
  padding: 3px 0px 3px 15px;
  margin-bottom: .5em;
}
.cap-pl {
  background-color: rgb(52,151,206);
}
.cap-iperl {
  background-color: rgb(116,111,108);
}
.cap-innol {
  background-color: rgb(165,30,41);
}
.cap-incl {
  background-color: rgb(0,73,123);
}
.cap-sl {
  background-color: rgb(20,108,51);
}
.cap-cl {
  background-color: rgb(207,144,38);
}

/* ---------DEFINITIONS PAGE --------*/
#def-table td {
  width: 50%;
}
#def-table td:nth-child(2) {
  padding-left: 1.5em;
}
#def-icons td{
  font-size: 100%;
}
#results-explained td{
  font-size: 100%;
  padding: 5px;
}


/*-------------CAPACITIES TABLE-------------*/
.ldi-cap-table {
  text-align: center;
  font-weight: bold;
  width: 100%;
}
 /*ldi-cap-table header*/
.ldi-cap-table th {
  background-color: rgb(0,73,123);
  color: white;
  border-right: 1px solid white;
  border-top: none !important;
  height: .4in;
  font-family: "Montserrat";
  font-weight: 600;
}
.ldi-cap-table th:first-child {
  background-color: rgb(52,151,206);
  width: 12% !important;
}
.ldi-cap-table th:nth-child(2) {
  background-color: rgb(4,163,9);
  width: 12% !important;
}
.ldi-cap-table th:nth-child(3) {
  width: 12% !important;
}
.ldi-cap-table th:nth-child(4) {
  text-align: left !important;
  padding-left: 1em;
  width: 44% !important;
  font-size: 10pt;
}
.ldi-cap-table th:nth-child(5) {
  font-size: 60%;
  width: 8% !important;
}
.ldi-cap-table th:nth-child(6) {
  font-size: 70%;
  width: 8% !important;
  border-right: none;
}
/*ldi-cap-table body*/
.ldi-cap-table td {
  border-bottom: 2px solid grey;
  height: .27in !important;
  vertical-align: middle !important;
}
.ldi-cap-table td:first-child {
  background-color: rgb(240,247,250);
  font-size: 12pt;
}
.ldi-cap-table td:nth-child(2) {
  background-color: rgb(235,245,235);
  font-size: 12pt;
}
.ldi-cap-table td:nth-child(3) {
  background-color: rgb(228,233,239);
  font-size: 12pt;
}
.ldi-cap-table td:nth-child(4) {
  text-align: left !important;
  font-weight: normal;
  padding-left: .75em;
  font-size: 9.5pt;
}
.ldi-cap-table td:nth-child(5),
.ldi-cap-table td:nth-child(6) {
  background-color: rgb(240,247,250);
  color: rgb(0,73,123);
  font-size: 9.75pt;
}
.comp-icon {
  width: 50%;
  height: auto;
}
#def-icons td:nth-child(2) {
  padding-left: 5px;
}
.comp-icon-small {
  width: 100%;
  height: auto;
}
/*--------CAPACITY REPORT BODY CONTAINERS------------*/
#top-container {
  height: 3.9in !important;
}
#left-container {
  width: 36%;
  float: left;
  height: 100%;
}
#right-container {
  width: 63%;
  height: 3.8in;
  float: right;
  font-size: 9.75pt;
}

/* #right-top-container {
  height: 90%;
  background-color: rgb(240,247,250);
} */
#bttm-container {
  /*height: 99%;  
  max-height: 3.25in !important;*/
  border: 1px solid black;
  border-top: 5px solid rgb(0,73,123);
  padding: .5em;
}
.dark-blue-box {
  background-color: rgb(0,73,123);
  color: white;
  font-weight: bold;
  padding: 5px 0 5px 1em;
}
.reflect-line {
  width: 100%;
  border-bottom: 1px solid grey;
}
#reflect-box {
    width: 100%;
    height: 95%;
}
#reflect-box th {
  text-align: left;
  vertical-align: top;
}
#reflect-box td { 
  vertical-align: top;
}
.no-ul {
	border-bottom: 2px solid white !important;
	padding-right: 5px;
}
.round-number {
    background-color: rgb(0,73,123);
    border-radius: 50%;
    color: white;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    font-weight: bold;
    float: left;
    margin-right: 5px;
}
.interpret-box {
  height: 3in;
  vertical-align: top;
}
.interpret-txt-box {
  display: -webkit-box;
}


/*scale boxes*/
#scale-container {
  color: rgb(207,207,207);
  position: relative;
  height: 3.75in;
}
#scale-descript-container {
  color: rgb(0,73,123);
  font-weight: bold;
  font-size: 8pt;
}
.scale-img {
  position: relative;
  z-index: -3;
  width: 100%;
  height: 100%;
}
.scale-line-container03 {
  height: 1.225in;
}
.scale-line-container15 {
  height: .98in;
}
.scale-line {
	width: 98%;
	margin-left: auto;
	margin-top: -1em;
}
.scale-line-hr {
  color: rgb(207,207,207);
}
.scale-container-number-bttm {
  position: absolute;
  margin-top: -.75em;
}


/*vertical bars*/
.value-bar {
  position: absolute;
	margin-top: -3.75in;
	z-index:-1;
}
.bar-background-color {
  background-color: rgb(230,230,230);
  border-radius: 100px 100px 0 0;
}
.bar-main-color {
  height: 3.75in;
	width: .5in;
	border-radius: 100px 100px 0 0;
}
.bar-value-number {
  padding-top: 30%;
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}
/*national average line*/
#nat-avg-container {
  position: absolute;
  color:rgb(0,73,123);
  width: 95%;
  margin-left: 4%;
  z-index: -2;
}
.nat-line {
  width: 99%;
  margin-left: auto;
  margin-top: -1.5em;
  align-self: right;
  
}
.nat-avg-label {
  font-size: 6pt;
  font-weight: bold;
  position: inherit;
  margin-top:-1em;
  margin-left: -.75em;
  /*padding-bottom: 8em;
  -webkit-transform: rotate(270deg);*/
}
.nat-line-hr {
  background-color: rgb(0,73,123);
  height: 3px;
  border-radius: 10px;
}
/*self bar*/
#self-bar {
	margin-left: 15%;
}
#self-bar-color {
	background-color: rgb(52,151,206);
}
#self-bar-value {
  background-color: rgb(52,151,206);
  height: .6in;
  width: .6in;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 5px 0px rgba(128,128,128,.5);
  margin-left: -.4em;
}

/*cohort bar*/
#cohort-bar {
	margin-left: 45%;
}
#cohort-bar-color {
	background-color: rgb(4,163,9);
}
#cohort-bar-value {
  background-color: rgb(4,163,9);
  height: .6in;
  width: .6in;
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 5px 0px rgba(128,128,128,.5);
  margin-left: -.4em;
}

/*national bar*/
#national-bar {
	margin-left: 80%;
}
#national-bar-color {
	background-color: rgb(0,73,123);
}
#national-bar-value {
  background-color: rgb(0,73,123);
  height: .6in;
  width: .6in;
  border-radius: 50%;
  text-align: center; 
  box-shadow: 2px 5px 0px rgba(128,128,128,.5);
  margin-left: -.4em;
}

/*-------CAPACITIES DEFINITIONS TABLE-----*/
.cap-def-table {
  font-size:10pt;
}
.cap-def-table th {
  background-color: rgb(0,73,123);
  color:white;
}
.cap-def-table td {
  padding: 3px;
}
.cap-def-table td:nth-child(1) {
  width:22%;
  font-weight: bold;
}
.cap-def-table td:nth-child(2) {
  padding-left: 1em;
}
.cap-def-table tr:nth-child(even) {
  background-color: rgb(240,247,250);
}

/*------------NEXT STEPS PAGE--------------*/
.nxtstep-icon {
  width: 1.25in;
  height: auto;
  padding: 2em;
}

#roman-foot {
  width: 100%;
}
#roman-foot td {
  font-size: 9pt;
  font-family: Verdana;
}
.pagemock {
  margin: .75in .5in 0 .5in;
}